@charset "utf-8";
/* CSS Document */
/*background-color: #CCC;	
background: #CCC;	*/
/*body {
	background-color: #0C6;
	opacity:0.1;
	opacity:0.5;
}
*/
#drawing {
	
	background-color: #CCC;	
	border: 3px solid #FC9;
		/*width:400px;
		height:400px;
	position: absolute;
	left:40%;
	top: 40%;
*/	
opacity:0.1;
		
	
	
}



