@charset "utf-8";
/* CSS Document */
#catalog {
	height: 1200px;
	background-color: #CCC;
	/*margin:30;
	padding:30;*/
}
li{
	
	display:block;
	background:#636;
	color:#FFF;
	width:800;
	height:30;
	margin:30px;
	padding:30px;
	/*margin:30;
	padding:30;*/
	}
button{
	
	
	background:#636;
	color:#FFF;
	width:100;
	height:60;
	margin:30px;
	padding:30px;
	/*margin:30;
	padding:30;*/
	}
#test {
	background-color: #09C;
	height: 90px;
	width: 160px;
}
