@charset "utf-8";
/* CSS Document */
#main {
	position:absolute;	
	background-color: #CCC;
	vertical-align: middle;
	width: 50%;
	height: 100%;
	left: 25%;
	/*padding-left: 25%;*/	
}
input{
	/*position:absolute;*/	
	position:relative;
	background-color: #CCC;
	/*margin: 25px;*/
	vertical-align:middle;
	
	padding: 25px;
	width: 50%;
	height: 20px;
	left: 25%;
	/*left: 50%;*/
	/*display:block;*/
	/*position: relative;
	font-size: 24px;
	background: #636;
	color: #FFF;
	width: 50%;
	height: 20px;
	left: 25%;
	right: 25%;
	text-align: center;
	vertical-align: middle;
	margin: 25px;
	padding: 25px;
	display: block;*/
	/*margin:30;
	padding:30;*/
	}

